--extra-index-url https://download.pytorch.org/whl/cu117
torch==1.13.1
torchvision
functorch
matplotlib
numpy
setuptools
torchtyping
PyYAML==5.4.1
pygments
git+https://github.com/ayaanzhaque/instruct-nerf2nerf
